body, h1, h2, h3, h4, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}

header {
    background-color: #0057b8;
    color: white;
    padding: 20px;
}

.logo {
    width: 200px;
    margin-top: 10px;
}

.introduction {
    padding: 20px;
    font-size: 18px;
    background: white;
    margin: 20px;
    margin-bottom: 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.game-list {
    padding: 20px;
}

.game-list ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.game-list li {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    height: 350px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.game-image {
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}

.vision {
    margin: 30px;
    padding: 20px;
    font-size: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Footer */
footer {
    background: #222;
    color: white;
    padding: 10px;
}

footer a {
    color: #1e90ff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Dark Mode Styles */
.dark-mode {
    background-color: #222;
    color: #f4f4f4;
}

.dark-mode .introduction,
.dark-mode .game-list li,
.dark-mode .vision {
    background-color: #333;
    color: white;
}

#dark-mode-btn {
    display: flex;
    margin-top: 10px;
    padding: 10px 15px;
    background: #fff;
    color: #0057b8;
    border: 2px solid #0057b8;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

#dark-mode-btn:hover {
    background: #0057b8;
    color: white;
}

.dark-mode #dark-mode-btn {
    background: #222;
    color: white;
    border: 2px solid white;
}

.dark-mode #dark-mode-btn:hover {
    background: white;
    color: #222;
}
