html, body {
    padding:0;
    margin:0;
    background: #fff;
    color: #000;
    font-size: 1.1rem;
    line-height: 1;
  }
  body {
    padding: 1.5rem;
  }
  img {
     max-width: 100%; 
  }
  abbr {
    border-bottom: 1px dotted #0080ff;
    text-decoration: none;
    cursor: help;
  }
  
  header {
    text-align: center;  
    min-height: 200px;
    background: url(/coursera-css3-hw-two/images/flywheel.jpg) top center no-repeat;
    background-size: cover;
    overflow: auto;
  }
  header h1 {
    line-height: 2.8rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 2rem;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);  
  }
  nav {
    padding: 3px 0;
  }
  nav a:link, nav a:visited {
    background-color: rgba(255,255,255,0.3);
    padding: 0.5rem 4.2rem;
    text-decoration: none;
    font-size: 1rem;
    line-height: 2.2rem;
    border-radius: 3px;
    color: #000;
    margin-right: 2rem;
    word-break: keep-all;
    white-space: nowrap;
  }
  nav a:hover, nav a:active {
    background-color: rgba(255,255,255,1);
    transition: 500ms;
  }
  nav a.active {
    background-color: rgba(255,255,255,1);
  }
  main {
    width: 100%;
    overflow: hidden;  
  }
  aside.left {
    float: left;
    width: 24%;
    height: auto;
    display: inline-block;
    background: #778e4e;
    padding: 3%;
  }
  aside.left img {
    border: 2px solid #000;
    margin: 1rem 0;  
  }
  section.right {
    float: right;
    width: 68%;
  }